<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/fcf9201011.js" %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <header>
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            TWITTER
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if user_signed_in? %>
                  <div class="dropdown is-hoverable is-right pb-4">
                    <div class="dropdown-trigger">
                      <figure class="media-left" aria-haspopup="true" aria-controls="dropdown-menu">
                        <div class="columns">
                          <p class="image is-64x64 column">
                            <img style="max-height: unset;" alt class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
                          </p>
                          <p class="column" style="white-space: nowrap;">
                            <span><%= current_user.name %></span> <br>
                            <small>@<%= current_user.username %></small>
                          </p>
                        </div>
                      </figure>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                      </div>
                      <div class="dropdown-content">
                        <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to logout?" }, class: "dropdown-item" do %>
                          <strong>Logout</strong><span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% else %>
                    <%= link_to new_user_registration_path, class: "button is-link is-rounded" do %>
                      <strong>Sign up</strong>
                    <% end %>
                    <%= link_to "Log in", new_user_session_path, class: "button is-light is-rounded" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
